
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<div class="p-4 flex-grow-1">
    <h2>Product List</h2>
    <!-- Cards Section -->
    <div class="row">
        
    </div>
</div>


